---

is_user_supplied: "{{ user is defined }}"
play_user: "{{ user | default(lookup('pipe', 'whoami')) }}"
play_uid: "{{ uid | default(lookup('pipe', 'id -u')) }}"
play_password: "{{ password | password_hash('sha512') | default(none) }}"
play_passphrase: "{{ passphrase | default(none) }}"
play_fullname: "{{ fullname | default(none) }}"
play_home: "{{ lookup('pipe', 'getent passwd ' + play_user).split(':')[5] }}"
move_docker: false

postgresql_versions:
  - "14"
  - "15"
  - "16"
  - "17"
  - "18"
# install only client
postgresql_client_only: true

postgresql_clean_versions: []

apps_folder: "{{ play_home }}/Documents/apps"
tools_folder: "{{ play_home }}/Documents/tools"

# Java
bin_java: "{{ apps_folder }}/jdk-17/bin/java"
bin_java_8: "{{ apps_folder }}/jdk-8/bin/java"
bin_java_11: "{{ apps_folder }}/jdk-11/bin/java"
bin_java_17: "{{ apps_folder }}/jdk-17/bin/java"
bin_java_21: "{{ apps_folder }}/jdk-21/bin/java"
bin_java_25: "{{ apps_folder }}/jdk-25/bin/java"

dir_jdk_11: "/usr/lib/jvm/{{ (package_jdk11 | distro(vars)).basename }}"
dir_jdk_17: "/usr/lib/jvm/{{ (package_jdk17 | distro(vars)).basename }}"
dir_jdk_21: "/usr/lib/jvm/{{ (package_jdk21 | distro(vars)).basename }}"
dir_jdk_25: "/usr/lib/jvm/{{ (package_jdk25 | distro(vars)).basename }}"
bash_java_template: |
  export JAVA_HOME={{ bin_java | dirname | dirname | expanduser | quote }}
package_jdk11:
  Fedora:
    package: temurin-11-jdk
    basename: temurin-11-jdk
    # create a /usr/lib/jvm/java-11 symlink (eclipse-oomph)
    symlink: java-11
package_jdk17:
  Fedora:
    package: temurin-17-jdk
    basename: temurin-17-jdk
    # create a /usr/lib/jvm/java-17 symlink (eclipse-oomph)
    symlink: java-17
package_jdk21:
  Fedora:
    package: temurin-21-jdk
    basename: temurin-21-jdk
    # create a /usr/lib/jvm/java-21 symlink (eclipse-oomph)
    symlink: java-21
package_jdk25:
  Fedora:
    package: temurin-25-jdk
    basename: temurin-25-jdk
    # create a /usr/lib/jvm/java-25 symlink (eclipse-oomph)
    symlink: java-25

# Maven
bin_maven: "{{ bin_maven_39 }}"
bin_maven_39: "{{ apps_folder }}/{{ bundle_maven_3_9_11.basename | regex_replace('(\\.[a-z]{1,3})*$', '') }}/bin/mvn"
bash_maven_template: |
  export MAVEN_OPTS="-Xmx1024m"
bundle_maven_3_9_11:
  url: https://dlcdn.apache.org/maven/maven-3/3.9.11/binaries/apache-maven-3.9.11-bin.tar.gz
  basename: maven-3.9.11.tar.gz
  checksum: sha512:bcfe4fe305c962ace56ac7b5fc7a08b87d5abd8b7e89027ab251069faebee516b0ded8961445d6d91ec1985dfe30f8153268843c89aa392733d1a3ec956c9978

# Tomcat
dir_tomcat_9: "{{ apps_folder }}/{{ bundle_tomcat_9_0_111.url | basename | regex_replace('(\\.[a-z]{1,3})*$', '') }}"
bundle_tomcat_9_0_111:
  url: https://archive.apache.org/dist/tomcat/tomcat-9/v9.0.111/bin/apache-tomcat-9.0.111.tar.gz
  checksum: sha512:2a955d97c6ed7d01fbf0392f3e2920129bcd541b259e894f441e411bac3bbe65576bcb3a314f06d624c9d70040828d26aa8a2c4f39d225d73f6a3db7523aa3ba

# Eclipse
bin_eclipse: "{{ apps_folder }}/{{ bundle_eclipse_java_202212b.url | basename | regex_replace('(\\.[a-z]{1,3})*$', '') }}/"
dir_eclipse_202212: "{{ apps_folder }}/{{ bundle_eclipse_java_202212b.url | basename | regex_replace('(\\.[a-z]{1,3})*$', '') }}/"
bundle_eclipse_java_202212b:
  url: https://nexus.tools.kobalt.fr/repository/eclipse/2022-12/eclipse-java-extra-2022-12b-linux-gtk-x86_64.tar.gz
  checksum: sha256:47cf3e44d669ed3fe822fab047e6600ffbb464018e72f0411e082d5381215352
  desktop_name: Eclipse 22.12b (extra)
  vm: ""
eclipse_clean_basenames:
  - eclipse-java-extra-oxygen-1-linux-gtk-x86_64
  - eclipse-java-extra-oxygen-2-linux-gtk-x86_64
  - eclipse-java-extra-photon-RC1-linux-gtk-x86_64
  - eclipse-rcp-extra-photon-RC1-linux-gtk-x86_64
  - eclipse-java-extra-2018-09a-linux-gtk-x86_64
  - eclipse-java-extra-2018-12a-linux-gtk-x86_64
  - eclipse-java-extra-2019-03a-linux-gtk-x86_64
  - eclipse-java-extra-2019-03b-linux-gtk-x86_64
  - eclipse-java-extra-2019-06a-linux-gtk-x86_64
  - eclipse-java-extra-2019-09a-linux-gtk-x86_64
  - eclipse-java-extra-2019-12a-linux-gtk-x86_64
  - eclipse-java-extra-2020-03a-linux-gtk-x86_64
  - eclipse-java-extra-2020-06a-linux-gtk-x86_64
  - eclipse-java-extra-2020-09a-linux-gtk-x86_64
  - eclipse-java-extra-2020-12a-linux-gtk-x86_64
  - eclipse-java-extra-2021-03a-linux-gtk-x86_64
  - eclipse-java-extra-2021-06a-linux-gtk-x86_64
  - eclipse-java-extra-2021-09a-linux-gtk-x86_64
  - eclipse-java-extra-2021-12a-linux-gtk-x86_64
  - eclipse-java-extra-2022-03a-linux-gtk-x86_64
  - eclipse-java-extra-2022-06a-linux-gtk-x86_64
  - eclipse-java-extra-2022-09a-linux-gtk-x86_64
  - eclipse-java-extra-2022-12a-linux-gtk-x86_64
  - eclipse-java-extra-2022-12b-linux-gtk-x86_64

# Luke
bundle_luke_550:
  url: https://github.com/DmitryKey/luke/releases/download/luke-5.5.0/luke-5.5.0-luke-release.zip
  checksum: sha256:f219c3eb7efd5a67c393f9c581aa7f577d43cb8697bb16d290949200b6276a23
  desktop_name: Luke 5.5.0
  bin_path:
bundle_luke_660:
  url: https://github.com/DmitryKey/luke/releases/download/luke-6.6.0/luke-6.6.0-luke-release.zip
  checksum: sha256:68154a592d1829e15e1795c50d6b923a2ee59f0469303fb57b53022c14eb7dd0
  desktop_name: Luke 6.6.0
  strip_path: luke-6.6.0
  bin_path:
bundle_luke_750:
  url: https://github.com/DmitryKey/luke/releases/download/luke-swing-7.5.0/luke-swing-7.5.0-luke-release.zip
  checksum: sha256:7ae709dd92fbd01740b1f196165dd15102a088507791b8476354981c2436e565
  desktop_name: Luke 7.5.0
  strip_path: luke-swing-7.5.0
  bin_path:
bundle_luke_811:
  url: https://archive.apache.org/dist/lucene/java/8.11.4/lucene-8.11.4.tgz
  checksum: sha512:4b379b6d990e57141338e69f673d15db734277ef667b17c3f90335223cfce807abe3bd689390c8a13338026e1cda006a5edbbe385e02b73f5df21897d469d68a
  desktop_name: Luke 8.11.4
  strip_path: lucene-8.11.4
  bin_path: luke/
bundle_luke_912:
  url: https://dlcdn.apache.org/lucene/java/9.12.3/lucene-9.12.3.tgz
  checksum: sha512:f252eb3b7814b6706afedd0a13923d7fa6b2a180392467bfb641aee009b52317c4cce032d03a0d882565850f1520e851c33691e94c9147b17b1d2bde0f6f9a8a
  desktop_name: Luke 9.12.3
  strip_path: lucene-9.12.3
