[submodule "powo.apache"]
	path = powo.apache
	url = git@github.com:powo-roles/powo.apache.git
[submodule "powo.checks"]
	path = powo.checks
	url = git@github.com:powo-roles/powo.checks.git
[submodule "powo.php"]
	path = powo.php
	url = git@github.com:powo-roles/powo.php.git
[submodule "powo.utils"]
	path = powo.utils
	url = git@github.com:powo-roles/powo.utils.git
[submodule "powo.user"]
	path = powo.user
	url = git@github.com:powo-roles/powo.user.git
[submodule "powo.ubuntu-backports"]
	path = powo.ubuntu-backports
	url = git@github.com:powo-roles/powo.ubuntu-backports.git
[submodule "powo.gnome-shell"]
	path = powo.gnome-shell
	url = git@github.com:powo-roles/powo.gnome-shell.git
[submodule "powo.archive"]
	path = powo.archive
	url = git@github.com:powo-roles/powo.archive.git
[submodule "powo.chrome"]
	path = powo.chrome
	url = git@github.com:powo-roles/powo.chrome.git
[submodule "powo.eclipse"]
	path = powo.eclipse
	url = git@github.com:powo-roles/powo.eclipse.git
[submodule "powo.maven"]
	path = powo.maven
	url = git@github.com:powo-roles/powo.maven.git
[submodule "powo.tomcat"]
	path = powo.tomcat
	url = git@github.com:powo-roles/powo.tomcat.git
[submodule "powo.virtualbox"]
	path = powo.virtualbox
	url = git@github.com:powo-roles/powo.virtualbox.git
[submodule "postgresql"]
	path = postgresql
	url = https://github.com/igloo-project/roles-postgresql.git
	branch = master
[submodule "epel"]
	path = epel
	url = https://github.com/igloo-project/roles-epel.git
	branch = master
[submodule "powo.misc"]
	path = powo.misc
	url = https://github.com/powo-roles/powo.misc.git
	branch = master
[submodule "postgresql-cluster"]
	path = postgresql-cluster
	url = https://github.com/igloo-project/roles-postgresql-cluster.git
	branch = master
[submodule "powo.postgresql-stop"]
	path = powo.postgresql-stop
	url = https://github.com/powo-roles/powo.postgresql-stop
	branch = master
