[submodule "powo.apache"]
	path = powo.apache
	url = https://github.com/powo-roles/powo.apache.git
	branch = master
[submodule "powo.checks"]
	path = powo.checks
	url = https://github.com/powo-roles/powo.checks.git
	branch = master
[submodule "powo.php"]
	path = powo.php
	url = https://github.com/powo-roles/powo.php.git
	branch = master
[submodule "powo.utils"]
	path = powo.utils
	url = https://github.com/powo-roles/powo.utils.git
	branch = master
[submodule "powo.user"]
	path = powo.user
	url = https://github.com/powo-roles/powo.user.git
	branch = master
[submodule "powo.ubuntu-backports"]
	path = powo.ubuntu-backports
	url = https://github.com/powo-roles/powo.ubuntu-backports.git
	branch = master
[submodule "powo.gnome-shell"]
	path = powo.gnome-shell
	url = https://github.com/powo-roles/powo.gnome-shell.git
	branch = master
[submodule "powo.archive"]
	path = powo.archive
	url = https://github.com/powo-roles/powo.archive.git
	branch = master
[submodule "powo.chrome"]
	path = powo.chrome
	url = https://github.com/powo-roles/powo.chrome.git
	branch = master
[submodule "powo.eclipse"]
	path = powo.eclipse
	url = https://github.com/powo-roles/powo.eclipse.git
	branch = master
[submodule "powo.maven"]
	path = powo.maven
	url = https://github.com/powo-roles/powo.maven.git
	branch = master
[submodule "powo.tomcat"]
	path = powo.tomcat
	url = https://github.com/powo-roles/powo.tomcat.git
	branch = master
[submodule "powo.virtualbox"]
	path = powo.virtualbox
	url = https://github.com/powo-roles/powo.virtualbox.git
	branch = master
[submodule "postgresql"]
	path = postgresql
	url = https://github.com/igloo-project/roles-postgresql.git
	branch = master
[submodule "epel"]
	path = epel
	url = https://github.com/igloo-project/roles-epel.git
	branch = master
[submodule "powo.misc"]
	path = powo.misc
	url = https://github.com/powo-roles/powo.misc.git
	branch = master
[submodule "postgresql-cluster"]
	path = postgresql-cluster
	url = https://github.com/igloo-project/roles-postgresql-cluster.git
	branch = master
[submodule "powo.postgresql-stop"]
	path = powo.postgresql-stop
	url = https://github.com/powo-roles/powo.postgresql-stop
	branch = master
[submodule "powo.symlinks"]
	path = powo.symlinks
	url = https://github.com/powo-roles/powo.symlinks.git
	branch = master
[submodule "powo.java"]
	path = powo.java
	url = https://github.com/powo-roles/powo.java.git
	branch = master
[submodule "powo.vagrant"]
	path = powo.vagrant
	url = https://github.com/powo-roles/powo.vagrant.git
	branch = master
[submodule "powo.filesystem"]
	path = powo.filesystem
	url = https://github.com/powo-roles/powo.filesystem.git
	branch = master
[submodule "powo.rpmfusion"]
	path = powo.rpmfusion
	url = ../powo.rpmfusion.git
	branch = master
