---

- name: privileged
  become: true
  become_user: root
  block:
    - name: dkms installation
      package: name={{ item }} state=present
      with_items: "{{ lookup('distro', virtualbox_dkms_packages) }}"

    - name: virtualbox installation
      package: name={{ item }} state=present
      with_items: "{{ lookup('distro', virtualbox_packages) }}"

    - name: "user in group vboxusers"
      with_items: "{{ virtualbox_users }}"
      user:
        name: "{{ item }}"
        groups: "{{ _virtualbox_group }}"
        append: true

    - name: dconf utility
      package:
        name:
          - python3-psutil

    - name: remove kvm_intel workaround (issue with VirtualBox 7.2.2 / kernel 6.15)
      file:
        path: /etc/modprobe.d/virtualbox-blacklist.conf
        state: absent

- name: user
  become: true
  become_user: "{{ play_user }}"
  block:
    # this settings allow virtualbox to handle windows+* shortcuts
    - name: dconf settings
      dconf:
        key: /org/gnome/mutter/wayland/xwayland-allow-grabs
        value: "true"

    - name: dconf settings
      dconf:
        key: /org/gnome/mutter/wayland/xwayland-grab-access-rules
        value: "['VirtualBox Machine', 'Remmina']"

# https://discussion.fedoraproject.org/t/after-updating-to-f42-virtualbox-is-broken/149764/
# github.com/VirtualBox/virtualbox/issues/70
# workaround removal; this task may be removed for fedora 44
- name: virtualbox workaround removal
  file:
    path: ~/.local/share/applications/virtualbox.desktop
    state: absent
  when: ansible_facts['distribution'] == 'Fedora'
