APPS_DIR=~/Documents/apps

export EDITOR=vim
export JAVA_HOME=${APPS_DIR}/java/
export PATH=~/.bin/:${APPS_DIR}/maven/bin:${APPS_DIR}/java/bin:$PATH
export MAVEN_OPTS="-Xmx1024m -XX:MaxPermSize=256m"
