---

- import_playbook: init-user.yml

- hosts: localhost
  become: true
  become_user: "{{ play_user }}"
  roles:
    - name: checks
    - name: selinux
    - name: firewalld
    - name: sshd
    - name: filesystem
    - name: apache
    - name: postgresql
      #postgresql_versions: -> group_vars
    - name: postgresql-cluster
      postgresql_systemd_legacy: false
      #postgresql_cluster_clusters -> group_vars
    - name: gnome-shell
    - name: chrome
    - name: misc
    - name: eclipse
      pec_install_base_folder: "{{ apps_folder }}"
      pec_download_folder: "{{ tools_folder }}/eclipse"
      pec_bundles: []
      pec_clean_basenames: "{{ eclipse_clean_basenames }}"
    - name: luke
      tags:
      - luke
    - name: java
      pja_install_base_folder: "{{ apps_folder }}"
      pja_download_folder: "{{ tools_folder }}/java"
      pja_packages:
        - "{{ package_jdk25 | distro(vars) }}"
        - "{{ package_jdk21 | distro(vars) }}"
        - "{{ package_jdk17 | distro(vars) }}"
        - "{{ package_jdk11 | distro(vars) }}"
      pja_default_java_version: "{{ dir_jdk_17 }}/bin/java"
    - name: visualvm
      vvm_install_base_folder: "{{ apps_folder }}"
      vvm_download_folder: "{{ tools_folder }}"
      vvm_bundles:
        - name: visualvm_215
          version: 2.1.5
          url: https://github.com/oracle/visualvm/releases/download/2.1.5/visualvm_215.zip
          checksum: sha256:1f9cbdcb3485637ea35034ad1fccae2fb5f2bccb0e653435255c95570c6b5d90
          jdkhomes:
            - version: "1.8"
              path: /usr/lib/jvm/java-1.8.0
            - version: "11"
              path: /usr/lib/jvm/java-11
            - version: "17"
              path: /usr/lib/jvm/java-17
            - version: "21"
              path: /usr/lib/jvm/java-21
            - version: "25"
              path: /usr/lib/jvm/java-25
    - name: maven
      pma_install_base_folder: "{{ apps_folder }}"
      pma_download_folder: "{{ tools_folder }}/maven"
      pma_bundles:
        - "{{ bundle_maven_3_9_11 }}"
    - name: tomcat
      pto_install_base_folder: "{{ apps_folder }}"
      pto_download_folder: "{{ tools_folder }}/tomcat"
      pto_bundles:
        - "{{ bundle_tomcat_9_0_111 }}"
    # powo.rpmfusion needed from Fedora 32
    - name: virtualbox
    - name: prompts-coloration
      prompt_coloration_profile: development
    - name: symlinks
      psy_directories:
        - ~/.bin
      psy_symlinks:
        - path: ~/.bin/mvn
          src: "{{ bin_maven }}"
        - path: ~/.bin/mvn-3.9
          src: "{{ bin_maven_39 }}"
        - path: "{{ apps_folder }}/apache-tomcat-9"
          src: "{{ dir_tomcat_9 }}"
        - path: "{{ apps_folder }}/jdk-11"
          src: "{{ dir_jdk_11 }}"
        - path: "{{ apps_folder }}/jdk-17"
          src: "{{ dir_jdk_17 }}"
        - path: "{{ apps_folder }}/jdk-21"
          src: "{{ dir_jdk_21 }}"
        - path: "{{ apps_folder }}/jdk-25"
          src: "{{ dir_jdk_25 }}"
        - path: ~/.bin/java
          src: "{{ bin_java }}"
      psy_clean_symlinks:
        - "{{ apps_folder }}/jdk-8"
        - "~/.bin/mvn-3.8"
